[hyoo_offer_about_placeholder] {
	flex-direction: column;
	margin: 1rem;
}

[hyoo_offer_about_logo] {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
[hyoo_offer_about_logo_image] {
  width: 10vw;
}

[hyoo_offer_about_advantages] {
  display: flex;
  flex-direction: column;
  margin: auto;
}
[hyoo_offer_about_placeholder_image] {
  width: 50vmin;
  box-shadow: none;
  border: none;
  margin: 10vmin;
}
[hyoo_offer_about_technology] {
  display: flex;
  align-items: center;
}
[hyoo_offer_about_code] {
  display: flex;
  align-items: center;
}
[hyoo_offer_about_programming] {
  display: flex;
  align-items: center;
}
[mol_app_placeholder_advantage] {
  font-size: 1.5vw;
}
